body {background-color: rgb(39, 39, 39);}

.wrapper {
  max-width: 728px;
}

li a {
  display: block; 
  color: rgb(255, 255, 255);
  text-align:center;
  padding: 10px 16px;
  text-decoration: none;
  }

li a:hover {
  background-color: #555;
  background-size: 800% 800%;
  background-image: repeating-linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 8s ease infinite;
}

#gtatoukarix {
  display:block;
  margin: auto auto;
}