body {background-color: rgb(39, 39, 39);}

.wrapper {
  max-width: 728px;
}

.rainbow-text {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 120px;
  background-size: 800% 800%;
  background-image: repeating-linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 8s ease infinite;
  text-shadow: 0px 0px 75px black;
}

@keyframes rainbow {
  0%{background-position: 0% 50%}
  50%{background-position: 100% 25%}
  100%{background-position: 0% 50%}
}

#tiikeri {
  text-shadow: 2px 2px 3px blue;
  color: black;
  text-align: center;
  font-size: 40px;
}

#zetu {
  text-shadow: 2px 2px 3px rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: roboto;
  font-size: 30px;
}

#pong {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 130px;
  border: 1px solid #ffffff;
}

#smasher {
  list-style-type: none;
  padding: 0;
  width: 130px;
  border: 1px solid #ffffff;
}

#gtatoukari {
  list-style-type: none;
  padding: 0;
  width: 130px;
  border: 1px solid #ffffff;
}

li a {
  display: block; 
  color: rgb(255, 255, 255);
  text-align:center;
  padding: 10px 16px;
  text-decoration: none;
  }

li a:hover {
  background-color: #555;
  background-size: 800% 800%;
  background-image: repeating-linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 8s ease infinite;
}

.dropbtn {
  background-color: transparent;
  font-weight: bold;
  color: white;
  padding: 16px;
  font-size: 40px;
  border: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: bold;
}

.dropdown-content a:hover {
  background-color: #555;
  background-size: 800% 800%;
  background-image: repeating-linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 8s ease infinite;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
    background-color: #555;
    background-size: 800% 800%;
    background-image: repeating-linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 8s ease infinite;
  }
